---
import { cn } from "../utils/cn";
import Wrapper from "./Wrapper.astro";
import ThemeButton from "../components/ThemeButton.astro";
import GridBackground from "../components/Backgrounds/GridBackground.astro";
import GradientBackground from "../components/Backgrounds/GradientBackground.astro";
import Logo from '../components/Logo.astro';
import svgToTinyDataUri from "mini-svg-data-uri";

const slate200 = '#e2e8f0'
const slate800 = '#1d293d'

const grid_uri = (value:string) => svgToTinyDataUri(`<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><g fill-rule="evenodd"><g fill="${value}"><path opacity=".5" d="M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z"/><path d="M6 5V0H5v5H0v1h5v94h1V6h94V5H6z"/></g></g></svg>`);

export type Props = {
	title?: string;
	description?: string;
	className?: string;
};

const { title, description, className } = Astro.props;
// const currentPage = Astro.url.pathname;
---

<Wrapper
	title={"" + title}
	description={"" + description}
	style={{
		'--pattern-slate-200': `url("${grid_uri(slate200)}")`,
		'--pattern-slate-800': `url("${grid_uri(slate800)}")`
	}}
	class={cn(
		"px-4 py-6 min-h-screen bg-white dark:bg-slate-950 [background-image:var(--pattern-slate-200)] dark:[background-image:var(--pattern-slate-800)] text-slate-950 dark:text-white flex flex-col items-center w-full",
		className,
	)}
>
	<!-- <GridBackground /> -->
	<GradientBackground />
	<header
		class="flex h-12 w-full max-w-(--breakpoint-xl) items-center justify-between rounded-full px-2 z-10"
	>
		<div class="flex items-center gap-x-3">
			<a href="/">
				<Logo />
			</a>
		</div>
		<div class="flex items-center gap-x-4 sm:gap-x-6">
			<ThemeButton />
			<nav class="flex items-center gap-x-2">
				<!-- <a
					aria-current={currentPage === "/" ? "true" : "false"}
					href="/"
					class="tab-highlight-none group box-border inline-flex h-9 items-center whitespace-nowrap
                            aria-current:border-0
                            aria-current:bg-black
                            aria-current:text-white
                            dark:aria-current:from-white dark:aria-current:to-white
                            dark:aria-current:text-black
							rounded-full border-2 border-slate-400
							bg-white px-2 pr-3 text-sm
							font-semibold
							text-slate-600
							ring-offset-2
							hover:bg-slate-50
							hover:from-slate-100 hover:to-slate-200
							hover:text-slate-700 focus:outline-hidden
							focus:ring-2 focus:ring-slate-500
							dark:border-slate-400
							dark:bg-linear-to-tr
							dark:from-slate-600
							dark:to-slate-800
							dark:text-white/90
							dark:ring-offset-slate-900
							dark:hover:from-slate-500
							dark:hover:to-slate-700
							dark:hover:text-white
							dark:focus:ring-slate-500"
				>
					<HomeIcon size="xs" />
					<span class="sr-only"> Link to Homepage</span>
					<span class="ml-1.5">Home</span>
					<svg
						class="ml-3 overflow-visible text-slate-300 group-hover:text-slate-400 dark:text-slate-500 dark:group-hover:text-slate-400"
						width="3"
						height="6"
						viewBox="0 0 3 6"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
						<path d="M0 0L3 3L0 6"></path>
					</svg>
				</a> -->
			</nav>
		</div>
	</header>
	<slot />
	<div class="py-20"></div>
	<footer class="mt-auto z-10 flex gap-x-4">
		<div
			class="flex w-full max-w-3xl flex-col justify-between gap-4 rounded-lg bg-linear-to-tr from-indigo-700/50 to-indigo-400/80 pb-4 pl-4 pr-8 pt-4 sm:flex-row dark:from-slate-500/50 dark:to-slate-700/70 dark:shadow-xs"
		>
			<div class="flex flex-col gap-y-4">
				<h2 class="font-robotic mb-1 text-3xl font-bold text-white">
					Sukhpreet Singh
				</h2>
				<h4 class="font-robotic text-xl font-semibold text-white/80">
					Open Source, Self Motivated <br /> Software Developer
				</h4>
			</div>
			<div class="xs:flex-col flex flex-row gap-x-8 gap-y-3 sm:flex-row">
				<div class="font-robotic">
					<h2
						style="text-shadow: 0px 0px 1px #0007;"
						class="mb-1 text-sm font-semibold text-indigo-600 dark:text-slate-400"
					>
						Sitemap
					</h2>
					<ul
						class="ml-1 flex flex-col gap-y-1 border-l-2 border-indigo-500 pl-2 font-medium text-white dark:border-slate-500 dark:font-normal dark:text-white/80"
					>
						<li>
							<a
								href="/writings"
								class="xs:gap-x-2 group inline-flex items-center justify-center gap-x-1"
								title="Link to Learnings"
							>
								Writings
							</a>
						</li>
						<li>
							<a
								href="/resume"
								class="xs:gap-x-2 group inline-flex items-center justify-center gap-x-1"
								title="Link to Resume"
							>
								Resume
							</a>
						</li>
					</ul>
				</div>
				<div class="font-robotic max-[332px]:hidden">
					<h2
						style="text-shadow: 0px 0px 1px #0007;"
						class="mb-1 text-sm font-semibold text-indigo-600 dark:text-slate-400"
					>
						Social Links
					</h2>
					<ul
						class="ml-1 flex flex-col gap-y-1 border-l-2 border-indigo-500 pl-2 font-medium text-white dark:border-slate-500 dark:font-normal dark:text-white/80"
					>
						{
							[
								{
									platform: "Instagram",
									link: "https://instagram.com/vishnuans",
								},
								{
									platform: "Linkedin",
									link: "https://linkedin.com/in/q1b",
								},
								{
									platform: "Github",
									link: "https://github.com/q1b",
								},
							].map(({ platform, link }) => {
								return (
									<li>
										<a
											href={link}
											target="_blank"
											title={`external link to ${platform}`}
											class="group inline-flex items-center justify-center gap-x-1 xs:gap-x-2"
										>
											{platform}
										</a>
									</li>
								);
							})
						}
					</ul>
				</div>
			</div>
		</div>
		<div class=""></div>
	</footer>
</Wrapper>
